nav {
    background-color: #f1f1f1;
    opacity: 85%;
    padding: 0.5rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
}
#logo{
    flex: 1;
    padding-left: 2px;
    opacity: 100%;
}
#nav-links{
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main{
    background-color: #BCD1FE;
    /* overflow: hidden;
    position: fixed; */
}
/* #nav1, #nav2, #nav3, #nav4,#nav5{
    margin-left: 30px;
    margin-right: 20px;
} */

#nav5{
    margin-right: 4vw;
}



#image{
    width: 100%;
    /* height: 100%; */
}


#links{
    display: flex;
    align-items: center;
    /* padding-left: 4rem; */
    margin-top: 9rem;
    margin-bottom: 5rem;
}

#nav1:hover,#nav2:hover,#nav3:hover,#nav4:hover,#nav5:hover{
    color: #6c6a6a;
    /* border: #464646; */
}

.footer{
    padding-bottom: 7vh;
    padding-top: 7vh;
    margin-top: 8vh;
    background-color: #f6f6f6;
}




